/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/views/CustomContent/*
!/resources/views/CustomContent/Dashboard.blade.php.example
!/resources/views/CustomContent/LoginPage.blade.php.example
!/resources/views/CustomContent/SampleContent.blade.php
.DS_Store
.idea/
/resources/sass/Utility/_color_variables.scss
/storage/fonts/dompdf_font_family_cache.php
/app/Reports/*
!/app/Reports/.gitkeep
/resources/views/PDF/*
!/resources/views/PDF/*.gitkeep